body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #1f1f1f;
  color: #E4E4E4;
}

.hero .content-hero .main-title, main .skills .subtitle, main .projects .subtitle, main .contact .subtitle {
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 700;
}

main .skills .details-skills section .title-skills, main .projects .project .details-project .title-project {
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 700;
}

.header, .hero .content-hero .top-text, .hero .content-hero .description-hero span {
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 400;
}

.button, .input::placeholder, .hero .content-hero .profession, .hero .content-hero .description-hero, main .contact .description-content {
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 700;
}

.button {
  background-color: #253D93;
  display: inline-block;
  padding: 1rem;
  color: #f8f8f8;
  text-decoration: none;
}

.button:hover {
  transition: 500ms ease;
  background-color: #f8f8f8;
  color: #253D93;
}

.input {
  padding: 1rem;
  border: 2px solid #f8f8f8;
  background-color: transparent;
  opacity: 0.5;
  margin-bottom: 24px;
  color: #E4E4E4;
  outline: none;
}

.input:focus {
  opacity: 1;
}

.input::placeholder {
  color: #f8f8f8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  background-color: #101010;
  padding: 24px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header a {
  color: #f8f8f8;
  margin: 0 0.5rem;
  text-decoration: none;
}

.hero {
  background-color: #101010;
  padding-bottom: 100px;
}

.hero img {
  width: 270px;
  display: block;
  padding-top: 72px;
  margin: 0.5rem auto 24px auto;
}

.hero .content-hero .top-text {
  margin-top: 0;
  margin-bottom: 0;
}

.hero .content-hero .main-title {
  margin-top: 0;
  margin-bottom: 0;
}

.hero .content-hero .profession {
  margin-top: 0;
  margin-bottom: 0;
}

.hero .content-hero .description-hero {
  color: #ADADAD;
}

@media (min-width: 576px) {
  .hero img {
    width: 414px;
  }
  .hero .content-hero .top-text {
    font-size: 24px;
  }
  .hero .content-hero .main-title {
    font-size: 90px;
  }
  .hero .content-hero .profession {
    font-size: 32px;
  }
  .hero .content-hero .description-hero {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .hero .content-hero {
    max-width: 790px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero .content-hero .description-hero {
    max-width: 460px;
  }
}

@media (min-width: 992px) {
  .hero {
    padding-top: 150px;
    height: 650px;
  }
  .hero .container-hero {
    display: flex;
    justify-content: space-between;
    max-width: 1008px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero .container-hero img {
    margin: -4rem;
    padding-top: 0;
    order: 1;
  }
  .hero .container-hero .content-hero {
    margin: 0;
  }
}

.wrap {
  padding-left: 24px;
  padding-right: 24px;
}

main .skills {
  padding-top: 100px;
}

main .skills .subtitle {
  text-align: center;
}

main .skills .details-skills {
  display: flex;
  justify-content: space-between;
}

main .skills .details-skills section .title-skills {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  main .skills {
    padding-top: 100px;
  }
  main .skills .subtitle {
    font-size: 60px;
  }
  main .skills .details-skills {
    max-width: 467px;
    margin-left: auto;
    margin-right: auto;
  }
}

main .projects {
  margin-top: 150px;
}

main .projects .subtitle {
  text-align: center;
}

main .projects .project {
  margin-bottom: 100px;
}

main .projects .project .image-project {
  display: block;
  width: 100%;
}

main .projects .project .details-project .title-project {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  main .projects .subtitle {
    font-size: 60px;
    margin-bottom: 100px;
  }
  main .projects .project .image-project {
    max-width: 588px;
  }
}

@media (min-width: 768px) {
  main .projects .project {
    max-width: 1196px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main .projects .project .image-project {
    order: 1;
    max-width: 588px;
    width: 50%;
    margin-left: 2rem;
  }
  main .projects .project .order {
    order: -1;
    margin-left: 0;
    margin-right: 2rem;
  }
  main .projects .project .details-project {
    max-width: 466px;
  }
}

main .contact {
  margin-top: 150px;
}

main .contact .subtitle {
  text-align: center;
  margin-bottom: 1rem;
}

main .contact .description-content {
  text-align: center;
  margin-bottom: 2rem;
  color: #ADADAD;
}

main .contact form {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}

main .contact form .row {
  display: flex;
  flex-direction: column;
}

main .contact form .message {
  padding-bottom: 6rem;
}

main .contact .social-contact {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  font-size: 32px;
}

main .contact .social-contact > * {
  color: #E4E4E4;
  margin-left: 1rem;
  margin-right: 1rem;
}

main .contact .social-contact > *:hover {
  color: #CC4DE0;
}

@media (min-width: 576px) {
  main .contact form {
    max-width: 722px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  main .contact form .row {
    flex-direction: row;
    justify-content: space-between;
  }
  main .contact form .row > * {
    width: 48%;
  }
}
/*# sourceMappingURL=main.css.map */