.title {
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.item-image {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.button {
    background-color: #4f0a66;
    color: #fff;
    font-family: 'Niramit', sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: .5rem 1rem;
}

.button:hover {
    background-color: #ff7300;
}

.main-container {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    .section-jobs {
        padding-top: 4rem;
        margin-bottom: 6rem;
        .title-jobs {
            text-align: center;
        }
        .description {
            font-family: 'Niramit', sans-serif;
            padding-left: 2rem;
            padding-right: 2rem;
            text-align: center;
        }
    }
    .container-items-web-design {
        .item-image {
            margin-bottom: 0;
        } 
        .description-web-design {
            background-color: #fff;
            padding: 1.5rem;
            
            .title {
                padding-left: 0;
            }

            .about-web {
                font-family: 'Niramit', sans-serif;
                line-height: 1.3em;
                max-width: 400px;
            }
        }
    }

    .section-about-me {
        margin-bottom: 6rem;
        .image-section {
            display: none;
            margin-bottom: 0;
        }
        .description-about-me {
            background-color: #fff;
            padding: 3rem;

            .title {
                padding-left: 0;
            }

            .text-about-me {
                max-width: 400px;
                font-family: 'Niramit', sans-serif;
                line-height: 1.6em;
            }
        }
    }

    .section-contact {
        background: #000;
        padding: 3rem;
        margin-bottom: 6rem;

        .title {
            text-align: center;
            color: #fff;
        }
        .fan-page {
            margin-top: 2rem;
            margin-bottom: 2rem;
            display: flex;
            justify-content: center;

            .icon-fan-page {
                text-decoration: none;
                color: gray;
                font-size: 2rem;
                margin-left: 1rem;
                margin-right: 1rem;

                &:hover {
                    color: #fff301;
                }
            }
        }
    }

}