$small: 480px;
$tablet: 768px;
$mediun: 992px;
$large: 1330px;

/* For movile */
@media screen and (min-width: $small){
    
}

/* for tablet */
@media screen and (min-width: $tablet){
    .container-items-graphic-design {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        grid-auto-rows: 300px;
        grid-template-areas: 
            "image-1 image-1 image-2"
            "image-1 image-1 image-3"
            "image-4 image-5 image-5"
            "image-4 image-5 image-5"
            "image-6 image-7 image-8"
        ;
        

        .item-image {
            height: 100%;
            background-color: red;
            object-fit: cover;
        }
        .item-image-graphic-design:nth-child(1) {
            grid-area: image-1;
        }
        .item-image-graphic-design:nth-child(2) {
            grid-area: image-2;
        }
        .item-image-graphic-design:nth-child(3) {
            grid-area: image-3;
        }
        .item-image-graphic-design:nth-child(4) {
            grid-area: image-4;
        }
        .item-image-graphic-design:nth-child(5) {
            grid-area: image-5;
        }
        .item-image-graphic-design:nth-child(6) {
            grid-area: image-6;
        }
        .item-image-graphic-design:nth-child(7) {
            grid-area: image-7;
        }
        .item-image-graphic-design:nth-child(8) {
            grid-area: image-8;
        }
    }
    .container-items-web-design {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .container-items-ilustration {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        grid-template-areas:
            "image-1 image-1 image-2"
            "image-1 image-1 image-3"
        ;
        grid-auto-rows: 300px;
        .item-image {
            height: 100%;
            object-fit: cover;
        }
        .item-image-ilustration:nth-child(1) {
            grid-area: image-1;
        }
        .item-image-ilustration:nth-child(2) {
            grid-area: image-2;
        }
        .item-image-ilustration:nth-child(3) {
            grid-area: image-3;
        }
    }
    .main-container {
        .section-about-me {
            display: flex;
            .image-section {
                order: 1;
                display: block;
                background-image: url(../img/sobre-mi-2.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .section-about-me > * {
            flex-basis: 50%;
        }
    }
}

/* for desktop */

@media screen and (min-width: $mediun){
    .main-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .header {
        .toggle {
            display: none;
        }
        .navigation-header {
            font-family: Raleway;
            display: block;
            .list-header {
                margin: 0;
                padding-left: 0;
                list-style-type: none;
                box-sizing: border-box;
                display: flex;
                .item-list-header {
                    border-bottom: none;
                    .link-list-header {
                        padding: 1rem 1rem;
                        color: white;
                        display: inline-block;
                        text-decoration: none;
                        font-size: .9rem;
                        margin-left: 1rem;
                        &:hover {
                            background-color: var(--secundary-color);
                            color: var(--color-text-title);
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .item-footer {
            margin-right: 2rem;
            margin-left: 2rem;
            margin-bottom: 3rem;
        }

        .legal-footer {
            text-align: center;
            width: 100%;
        }
    }
}

//max size
@media screen and (min-width: $large){
    .main-container {
        padding-left: 1rem;
        padding-right: 1rem;

        .container-items-graphic-design {
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 350px;
            grid-template-areas: 
                "image-1 image-1 image-2 image-3"
                "image-1 image-1 image-4 image-4"
                "image-5 image-6 image-8 image-8"
                "image-5 image-7 image-8 image-8"
            ;
        }

        .container-items-ilustration {
            grid-auto-rows: 370px;
        }
            
        .container-items-web-design {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
