<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Portafolio personal de Jose Flores | jotajotadev@gmail.com")
        link(rel="shortcut icon" href="img/favicon.png")
        link(rel="stylesheet" href="css/fonts.css")
        link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet" href="css/main.css")
        title Jose Flores | Portafolio
    body
        <!-- Header cabecera-->
        header.header
            img.logotipo(src="img/logo-small.png")
            p.email jotajotadev@gmail.com
            nav.navigation-header#nav-id
                ul.lista-header
                    li
                        a(href="#") Inicio
                    li
                        a(href="#sobre-mi") Sobre mi
                    li
                        a(href="#contacto") Contacto
            div.toggle.icon-menu

        <!--Banner-->
            figure.banner
                img(src="img/banner-awesome.jpg")
                figcaption 
                    h1 Jose Flores, Diseñador Web
        div#wrapper-main

            <!--main-->
            main.main-container
                <!-- Container Jobs -->
                div.jobs-cards
                    h2 Trabajos
                    div.article-card
                        img(src="img/trabajo-1.jpg")
                        div.info-card
                            h2.title-card 
                                a(href="https://www.behance.net/gallery/70708985/Logotipo-Guitarra-Puna" target="_blank") Guitarra Puna
                            p.type-card Tipo: logotipo
                    div.article-card
                        img(src="img/trabajo-2.jpg")
                        div.info-card
                            h2.title-card 
                                a(href="https://www.behance.net/gallery/70702443/Proyecto-Logo-abogados" target="_blank") Abogados
                            p.type-card Tipo: logotipo
                    div.article-card
                        img(src="img/trabajo-3.jpg")
                        div.info-card
                            h2.title-card 
                                a(href="https://www.behance.net/gallery/70705333/Mockup-Web-Guitarra-Puna" target="_blank") Guitarra Puna
                            p.type-card Tipo: Diseño web
                    div.article-card
                        img(src="img/trabajo-4.jpg")
                        div.info-card
                            h2.title-card 
                                a(href="https://josed19.github.io/aprendepo/" target="_blank") AprendePO
                            p.type-card Tipo: Sitio web



                

                <!-- container about me -->
                div.about-me#sobre-mi
                    article.info-about-me
                        h3 Sobre mi
                        p Hola mi nombres es Jose Flores, soy estudiante de diseño y Diseño Web
                        p Me agrada aprender sobre el mundo del diseño, tambien sobre tecnologias web, las cuales me permiten inplementar el diseño en photoshop a codigo que el navegador entienda.
                    img.img-about-me(src="img/sobre-mi-2.jpg")
            

        <!-- Footer -->
        footer.footer#contacto
            h4.Contacto Contacto
            div.fan-page
                a.icon-facebook(href="https://www.facebook.com/profile.php?id=100029324704098" target="_blank")
                a.icon-github(href="https://github.com/jotajotadev" target="_blank")
                a.icon-twitter(href="https://twitter.com/JoseFlo98482703" target="_blank")

        script(src="js/main.js")




        