$primary-blue: #253D93;
$primary-purple: #CC4DE0;
$interface-black-1: #101010;
$interface-black-2: #1f1f1f;
$interface-gray: #E4E4E4;
$interface-white: #f8f8f8;
$interface-white-variant: #ADADAD;

$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: $interface-black-2;
    color: $interface-gray;
}


%h1-regular-90px{
    font-size: 90px;
    line-height: 1.2em;
    font-weight: 400;
}
%h1-bold-90px{
    font-size: 90px;
    line-height: 1.2em;
    font-weight: 700;
}
%h2-regular-60px{
    font-size: 60px;
    line-height: 1.2em;
    font-weight: 400;
}
%h2-bold-60px{
    font-size: 60px;
    line-height: 1.2em;
    font-weight: 700;
}
%h3-regular-40px{
    font-size: 40px;
    line-height: 1.2em;
    font-weight: 400;
}
%h3-bold-40px{
    font-size: 40px;
    line-height: 1.2em;
    font-weight: 700;
}
%h4-regular-32px{
    font-size: 32px;
    line-height: 1.2em;
    font-weight: 400;
}
%h4-bold-32px{
    font-size: 32px;
    line-height: 1.2em;
    font-weight: 700;
}
%h5-regular-24px{
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 400;
}
%h5-bold-24px{
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 700;
}
%h6-Regular-18px{
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 400;
}
%h6-bold-18px{
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 700;
}
%text-regular-16px {
    font-size: 16px;
    line-height: 1.3em;
    font-weight: 400;
}
%text-bold-16px {
    font-size: 16px;
    line-height: 1.3em;
    font-weight: 700;
}
%small-regular-14px {
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 400;
}
%small-bold-14px {
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 700;
}
.button {
    background-color: $primary-blue;
    display: inline-block;
    padding: 1rem;
    color: $interface-white;
    text-decoration: none;
    @extend %text-bold-16px;
}
.button:hover {
    transition: 500ms ease;
    background-color: $interface-white;
    color: $primary-blue;
}
.input {
    padding: 1rem;
    border: 2px solid $interface-white;
    background-color: transparent;
    opacity: 0.5;
    margin-bottom: 24px;
    color: $interface-gray;
    outline: none;
}
.input:focus {
    opacity: 1;
}
.input::placeholder {
    @extend %text-bold-16px;
    color: $interface-white;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

.header {
    background-color: $interface-black-1;
    @extend %text-regular-16px;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    a {
        color: $interface-white;
        margin: 0 0.5rem;
        text-decoration: none;
    }
}

.hero {
    background-color: $interface-black-1;
    padding-bottom: 100px;
    img {
        width: 270px;
        display: block;
        padding-top: 72px;
        margin: 0.5rem auto 24px auto;
    }
    .content-hero {
        .top-text {
            @extend %text-regular-16px;
            margin-top: 0;
            margin-bottom: 0
        }
        .main-title {
            @extend %h3-bold-40px;
            margin-top: 0;
            margin-bottom: 0
        }
        .profession {
            @extend %text-bold-16px;
            margin-top: 0;
            margin-bottom: 0
        }
        .description-hero {
            @extend %text-bold-16px;
            color: $interface-white-variant;
            span {
                @extend %text-regular-16px;
            }
        }
    }
    @media (min-width: $small){
        img {
            width: 414px;
        }
        .content-hero {
            .top-text {
                font-size: 24px;
            }
            .main-title {
                font-size: 90px;
            }
            .profession {
                font-size: 32px;
            }
            .description-hero {
                font-size: 18px;
            }
        }
    }
    @media (min-width: $medium){
        .content-hero {
            max-width: 790px;
            margin-left: auto;
            margin-right: auto;
            .description-hero {
                max-width: 460px;
            }
        } 
    }
    @media (min-width: $large) {
        padding-top: 150px;
        height: 650px;
        .container-hero {
            display: flex;
            justify-content: space-between;
            max-width: 1008px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            img {
                margin: -4rem;
                padding-top: 0;
                order: 1;
            }
            .content-hero {
                margin: 0;
            }
        }
    }
}
.wrap {
    padding-left: 24px;
    padding-right: 24px;
}

main {
    .skills {
        padding-top: 100px;
        .subtitle {
            @extend %h3-bold-40px;
            text-align: center;
        }
        .details-skills{
            display: flex;
            justify-content: space-between;
            section {
                .title-skills{
                    @extend %h5-bold-24px;
                    margin-bottom: 0;
                }
            }
        }
        @media (min-width: $small) {
            padding-top: 100px;
            .subtitle {
                font-size: 60px;
            }
            .details-skills {
                max-width: 467px;
                margin-left: auto;
                margin-right: auto;
            }   
        }
    }
    .projects {
        margin-top: 150px;
        .subtitle {
            @extend %h3-bold-40px;
            text-align: center;
        }
        .project {
            margin-bottom: 100px;
            .image-project {
                display: block;
                width: 100%;
            }
            .details-project {
                .title-project {
                    @extend %h5-bold-24px;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
            }
        }
        @media (min-width: $small) {
            .subtitle {
                font-size: 60px;
                margin-bottom: 100px;
            }
            .project {
                .image-project {
                    max-width: 588px;
                }
            }
        }
        @media (min-width: $medium) {
            .project {
                max-width: 1196px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .image-project {
                    order: 1;
                    max-width: 588px;
                    width: 50%;
                    margin-left: 2rem;
                }
                .order {
                    order: -1;
                    margin-left: 0;
                    margin-right: 2rem;
                }
                .details-project {
                    max-width: 466px;
                }
            }
        }
    }
    .contact {
        margin-top: 150px;
        .subtitle {
            @extend %h3-bold-40px;
            text-align: center;
            margin-bottom: 1rem
        }
        .description-content {
            @extend %text-bold-16px;
            text-align: center;
            margin-bottom: 2rem;
            color: $interface-white-variant;
        }
        form {
            display: flex;
            flex-direction: column;
            margin-bottom: 150px;
            .row {
                display: flex;
                flex-direction: column;
            }
            .message {
                padding-bottom: 6rem;
            }
        }
        .social-contact {
            padding-bottom: 50px;
            display: flex;
            justify-content: center;
            font-size: 32px;
            & > * {
                color: $interface-gray;
                margin-left: 1rem;
                margin-right: 1rem;
            }
            & > *:hover {
                color: $primary-purple;
            }
        }
        @media (min-width: $small) {
            form {
                max-width: 722px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                .row {
                    flex-direction: row;
                    justify-content: space-between;
                }
                .row > * {
                    width: 48%;
                }
            }
        }
    }
}