


.main-container {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;


    .section-about {
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 3rem;
        color: var(--color-text-primary);

        .about-info {
            padding-right: 3rem;
        }

        .about-img {
            margin-top: 4rem;
            max-width: 100%;    
            box-shadow: 20px -20px rgb(165, 165, 165);
        }
        .about-title {
            font-size: 3rem;
            margin-top: 0;
            font-weight: 300;
        }
        .about-text {
            line-height: 1.3rem;
        }

        @media screen and (min-width: $mediun) {
            & {
                display: flex;
                justify-content: space-between;
            }
        }
    }


    .section-jobs {
        margin-bottom: 6rem;
        .title {
            font-weight: 300;
            text-align: center;
            font-size: pxToRem(24);
            color: var(--color-text-primary);
        }
        .figure {
            margin: 0;
            position: relative;
        }

        .item-image {
            width: 100%;
            display: block;
        }
        .card-opacity {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
            display: flex;
            color: #fff;
            padding: 4rem;
            align-items: flex-end;
        }
        .container-items-graphic-design {
            margin-bottom: 6rem;
        }

        @media screen and (min-width: $tablet) {
            .container-items-graphic-design {
                padding: 3rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media screen and (min-width: $mediun) {
            .figure:nth-child(1) {
                grid-area: image-1;
            }
            .figure:nth-child(2) {
                grid-area: image-2;
            }
            .figure:nth-child(3) {
                grid-area: image-3;
            }
            .figure:nth-child(4) {
                grid-area: image-4;
            }

            .container-items-graphic-design {
                overflow: hidden;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: 
                    "image-1 image-1 image-2 image-3"
                    "image-1 image-1 image-4 image-4"
                ;
                align-items: start;
            }
        }

    }
    .container-items-web-design {
        padding: 3rem;
        color: var(--color-text-primary);
        .description-web-design {
            padding: 2rem;
            overflow: hidden;
        }
        .title-web {
            text-align: left;
        }
        .button-primary {
            float: right;
        }
        @media screen and (min-width: $tablet) {
            & {
                display: flex;
                flex-wrap: wrap;
            }
            & > * {
                max-width: 50%;
            }
        }
        @media screen and (min-width: $mediun) {
            & {
                justify-content: space-between;
                flex-wrap: nowrap;
            }
            & > * {
                max-width: 380px;
                flex: 1;
            }
        }
    }


    .section-contact {
        color: var(--color-text-primary);
        padding: 3rem;
        margin-bottom: 6rem;

        .title {
            text-align: center;
        }
        .fan-page {
            margin-bottom: 8rem;
            display: flex;
            justify-content: center;

            .icon-fan-page {
                text-decoration: none;
                color: rgb(65, 65, 65);
                font-size: 2rem;
                margin-left: 1rem;
                margin-right: 1rem;

                &:hover,
                &:active {
                    color: #000;
                }
            }
        }
    }

}