.footer {
    background-color: var(--bg-head-footer);
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .item-footer {
        margin-left: 2rem;
        margin-right: 2rem;
        .title-item-footer {
            color: #fff;
            font-size: 1.2rem;
            font-family: 'Raleway', sans-serif;
        }
        .list-footer {
            list-style: none;
            padding-left: 0;
            .link-footer {
                color: #fff;
                font-family: 'Raleway', sans-serif;
                font-weight: 400;
                text-decoration: none;
                font-size: 0.9rem;
            }
        }
    }
    .legal-footer {
        margin-top: 6rem;
        color: #fff;
        width: 100%;
        text-align: center;
    }
}