.header {
    height: 60px;
    background-color: var(--bg-head-footer);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Roboto', sans-serif;
    
    .logotipo {
        width: 42px;
    }

    .max-width {
        max-width: 1366px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    //oculta la navegacion del header
    .navigation-header {
        display: none;
    }
    //oculta la navegacion del header

    .toggle {
        color: #fff;
        padding-left: 1rem;
        padding-right:1rem;
        font-size: 1.5rem;
        line-height: 60px;
        &:active {
            background-color: var(--secundary-color);
            color: var(--color-text-title);
        }
    }

    // MUESTRA la navegacion del header

    .show-nav {
        display: block;
        background-image: linear-gradient(rgba(26, 26, 26,1), rgba(26, 26, 26,0.9));
        z-index: 10;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    // Muestra la navefacion del header

    .list-header {
        margin: 0;
        list-style-type: none;
    }
    
    .item-list-header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .link-list-header {
        padding: 1rem 0;
        color: var(--color-text-secondary);
        display: inline-block;
        text-decoration: none;
        font-size: pxToRem(14);
        width: 100%;

        &:hover {
            color: #fff;
        }
    }
    .btn-header {
        display: none
    }

    //Responsive
    @media screen and (min-width: $mediun) {
        .navigation-header {
            display: block;
        }
        
        .btn-header {
            display: block
        }
        .toggle {
            display: none;
        }

        .list-header{
            display: flex;
            margin: 0;
            padding-left: 0;
        }
        .wrap-nav {
            display: flex;
            align-items: center;
        }
        .item-list-header {
            margin-right: 1rem;
            border-bottom: 0;
        }

    }

}